body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: white;
    padding-bottom: 120px;;
    padding-left: 14rem;
    top: 100px;
    position: relative;
    
}

.header-content {
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.header h1{
    font-size:38.4px;
    font-weight: bolder;
    font: 200;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
}

.header p {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    
}

.header .highlight {
    color: #259b60;
    font-weight:bolder;

}

.main-content {
    padding: 5rem 15rem;
    margin: 0 auto;
    background-color:#666666;
    border-top:8px solid #999;
    position: relative;
  }
  
  .card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 70px 30px;
    position: relative;
    border-bottom: 8px solid #999;
    border-radius: 8px;
  }
  
  .banner {
    background-color: #ffcc00;
    font-weight: bolder;
    border-bottom: 10px solid #f7860e3c;
    display: inline-block;
    top:-60px;
    left: -40px;
    position: relative;
  }
  
  .banner h2 {
    margin: 20px;
    font-size: 1.5rem;

  }
  
  .card p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom:1rem;
    font-weight: light;
  }

  @media (max-width: 800px) {
    .header {
      padding-left:15px;
    }
  
    .header h1 {
      font-size: 2.0rem;
    }
  
    .header p {
      font-size: 1.2rem;
    }
  
    
    .main-content {
      padding: 80px 0px;
    }
  
    .banner h2 {
      font-size: 1.2rem;
    }
  
    .card p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .header h1 {
      font-size: 1.3rem;
    }
  
    .header p {
      font-size: 0.8rem;
    }
  

    .banner h2 {
      font-size: 1rem;
    }
  
    .card p {
      font-size: 0.8rem;
    }
  }
  
  